.modal-content {
  margin: auto;
  @include minBreakpoint($mobilexLarge) {
    max-width: 360px;
    padding: 10px;
  }
}

.modal-footer,
.modal-header {
  border: 0;
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-footer {
  justify-content: center;
}
.modal-header {
  h4 {
    font-size: 20px;
  }
}
