@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("assets/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;

  src: url("assets/fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("assets/fonts/Rubik-Bold.ttf");
}

@import "~bootstrap/scss/bootstrap";

@import "./assets/scss/variables";
@import "./assets/scss/mixins";
@import "./assets/scss/buttons";
@import "./assets/scss/form";
@import "./assets/scss/modal";
@import "./assets/scss/global";
@import "./assets/scss/home";
